@tailwind base;
@tailwind components;
@tailwind utilities;

/* .shadowTop {
    box-shadow: 0px -4px 6px -1px rgba(0, 0, 0, 0.1);
} */

.shadowCustom {
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), /* top */
              0px -4px 6px -1px rgba(0, 0, 0, 0.1), /* bottom */
              0px 4px 6px -1px rgba(0, 0, 0, 0.1); /* sides */
}

.insideShadowCustom {
box-shadow: inset 0px 4px 6px -1px rgba(0, 0, 0, 0.1), /* top */
          inset 0px -4px 6px -1px rgba(0, 0, 0, 0.1), /* bottom */
          inset 0px 4px 6px -1px rgba(0, 0, 0, 0.1); /* sides */
}